/* 确保 body 使用 flex 布局 */
body {
  display: flex;
  flex-direction: column; /* 垂直排列元素 */
  min-height: 100vh; /* 页面高度至少为视口高度 */
  margin: 0;
}

/*Set the warning font color*/
.warning {
  color: rgb(252, 118, 106);
  }

  /*Set the info font color*/
.info {
    color:blue;
}

/* Set the width to 80% of the viewport width, and center the form */
.form-container {
    min-height: 100vh;
    width: 70vw; 
    margin: 0 auto; 
    flex: 1;
  }

.form{
  margin:0 180px;
}
/* Set labels within the .textfield class to display as block elements, and apply margin to the label elements */
.textfield label {
    display: block;
    margin: 0.5rem 0;
  }  

/* Set input elements within the .textfield class to display as block elements, with 90% width, minimum height, and margin */
.textfield input
{
    display: block;
    width:70%; /* Set the width of the input elements to 50% of their parent container */
    min-height: 1.5em;
    margin:5px 0;
}

button{
    background:rgb(104, 198, 236);
}

.reset{
    background: rgb(168, 60, 96);
}
