body {
    font-family: Helvetica;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    background-size: cover; /* Ensure the background covers the entire viewport */
    background-attachment: fixed; /* Keep the background fixed while scrolling */
  }
  
  /* Header */
  header {
    padding: 10px 0;
    color: rgb(105, 95, 95); /*make text color*/
    border-bottom: 2px solid rgb(164, 145, 145); /* 設定邊框為下邊、2像素、黑色 */
    padding: 10px; /* 增加一些內邊距 */
    
  }
  
  /* Make sure the website’s title (<h1>) scales appropriately without causing layout issues on smaller screens by using descendant selector. */
  header h1 {
    margin: 20px 50px; /* Top and bottom margin 20px, left and right margin 0 */
    font-size: 3em; /* Font size set to three times the parent element's font size */
    text-align: left; /* Center text */
  }
  
  /*header nav */
  nav {
    display: flex; /* Use flexbox layout for navigation */
    justify-content: center; /* Center navigation items */
  }
  
  /* Unordered list inside the nav */
  nav ul {
    list-style-type: none; /* Remove default bullet points */
    display: flex; /* Align navigation items horizontally */
  }
  
  nav ul li {
    margin: 0 15px; /* Spacing between list items */
  }
  
  /* Navigation links */
  nav ul li a {
    color: rgb(121, 81, 81); /* Set link color */
    text-decoration: none; /* Remove underline from links */
    padding: 10px 15px; /* Padding for clickable area */
  }
  
  a:hover {
    background-color: rgb(176, 225, 235);
    border-radius: 30px; /* Round the corners of the element */
  }


  
  .big-container {
    font-family: helvetica, arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr; /* Create responsive columns */
    padding: 20px 0; /* Padding around the main content */
  }
  
  
  main {
    padding-left: 30px; /* Add 30px of padding to the left of the main content */
  }

  .divider {
    border-bottom: 2px solid rgb(105, 95, 95); /* Add a 2px solid bottom border for a divider line */
    margin: 3px 0;
  }
  
  
  aside {
    display: flex;
    align-content: center; /* Center items along the cross axis */
    flex-direction: column; /* Arrange items in a column */
    text-align: center; /* Center text within the aside */
  }
  
  aside ul {
    padding: 0; /* Remove default padding */
  }
  
  aside ul li {
    list-style-type: none; /* Remove bullet points */
    margin: 20px 0; /* Spacing between list items */
  }
  
  aside ul li a {
    color: rgb(121, 81, 81);
    text-decoration: none; /* Remove underline from links */
    padding: 10px 15px; /* Padding for area */
  }

  footer {
    text-align: right;
    font-style: italic;
    font-size: 1em;
  }
  
  footer p {
    padding: 10px 15px;
  }
  